/*@import url('../node_modules/bootstrap/dist/css/bootstrap-theme.min.css');*/
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../node_modules/font-awesome/css/font-awesome.min.css');
@import url('../node_modules/primeng/resources/primeng.min.css');
@import url('../node_modules/primeng/resources/themes/omega/theme.css');

body .content{
      width: 1000px;
      }
      @media only screen and (max-width: 780px) {
      body .content {
      width: 768px;
      }
      }

      .tabla-izquierda{
        width:30%
      }
      @media only screen and (max-width: 780px){
        .tabla-izquierda{
          width:35%
        }
      }

      .tabla-derecha{
        width: 69%;
      }
      @media only screen and (max-width: 780px){
        .tabla-derecha{
          width: 64%;
        }
      }

/*
 * Base structure
 */

 *{
   font-size: 12px !important;
 }

 /* primeng styles*/

 .ui-inputtext{
    width: 77px !important;
}

.ui-datepicker.ui-widget{
  font-size: 13px !important;
}

/* Move down content because we have a fixed navbar that is 50px tall */
.nav-tecnicos{
    min-height: 0px;
    height: 25px;
}

.cabecera-tabla-tecnico{
    padding: 2px !important;
    text-align: center;
}



.mytable{
background-color:#ffffff;

table-layout: fixed;
}

th{
    padding: 3px !important;
    text-align: center;
    font-weight: normal;
}



/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */




.navbar-header{
  position: absolute;
  right: 44%;
}


.navbar-inverse{
	background-color: #428bca;
}
.navbar-inverse .navbar-brand {
	color: #ffffff;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */
